@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161615;
}

body {
  background: var(--background);
  font-family: var(--font-jetbrains-mono);
  color: "#ffffff";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-ibm-plex-sans);
  color: "#ffffff";
}
